.popup__container{
    max-width: 430px;
    min-height: 25.7%;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0,0,0, .15);
    border-radius: 10px;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform:translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 
}

@media screen and (min-width:320px) and (max-width:767px){
    .popup__container{
        max-width: 282px;
        min-height: 322px;
    }
}