.edit-btn {
    margin-left: 17px;
    margin-bottom: 15px;
    max-width: 24px;
    max-height: 24px;
    opacity: 1;
    position: absolute;
        top:25%;
        left: 96%;
}

.edit-btn:hover {
    cursor: url(../../images/cursor.png), default;
    opacity: .6;
    transition: opacity .5s;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .edit-btn {
        top:25%;
        left: 100%;
        margin-left: 5px;
        max-width: 18px;
        max-height: 18px;
    }
}