.profile__name{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
}

@media screen and (min-width:320px) and (max-width:450px){
    .profile__name{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 56px;
/* or 207% */
text-align: center;

color: #FFFFFF;
}
}